[flake8]
max-line-length = 100
extend-ignore = 
    D100, D101, D102, D103, D104, D105, D106, D107,  # Missing docstrings
    D200, D202, D205, D210, D212, D415,  # Docstring formatting
    E402,  # Module level import not at top of file
    C901,  # Too complex
    F401,  # Unused imports
exclude = 
    .git,__pycache__,.venv,venv,logs,build,dist,tests